body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.grid-container > div {
  text-align: center;
}

#item1 {
  grid-row-start: 1;
  grid-row-end: 48;
  grid-column-start: 1;
  grid-column-end: 24;
}

#item2 {
  grid-row-start: 1;
  grid-row-end: 48;
  grid-column-start: 24;
  grid-column-end: 48;
}

/* #item3 {
  grid-row-start: 24;
  grid-row-end: 48;
  grid-column-start: 24;
  grid-column-end: 48;
} */

#item4 {
  grid-row-start: 1;
  grid-row-end: 48;
  grid-column-start: 1;
  grid-column-end: 24;
}

#item5 {
  grid-row-start: 1;
  grid-row-end: 24;
  grid-column-start: 24;
  grid-column-end: 48;
}

#item6 {
  grid-row-start: 24;
  grid-row-end: 48;
  grid-column-start: 24;
  grid-column-end: 48;
}

#item7 {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 48;
}

#item8 {
  grid-row-start: 8;
  grid-row-end: 48;
  grid-column-start: 1;
  grid-column-end: 24;
}

#item9 {
  grid-row-start: 8;
  grid-row-end: 28;
  grid-column-start: 24;
  grid-column-end: 48;
}

#item10 {
  grid-row-start: 28;
  grid-row-end: 48;
  grid-column-start: 24;
  grid-column-end: 48;
}

#submitBtn {
  display: block;
  margin-left: 68%;
  margin-top: 4px;
  padding: 5px;
  text-align: center;
  border: 2pt solid black;
  border-radius: 5pt;
  background-color: black;
  color: #CCCC01;
}

#submitBtn:hover {
  cursor: pointer;
  background-color: #5c5b15;
}

#adminLogo {
  width: 350px;
  height: 350px;
}

.adminBtns {
  width: 160px;
  height: 40px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 100px;
  border: 2pt solid black;
  border-radius: 5pt;
  background-color: black;
  color: #CCCC01;
}

#listenerRequests {
  margin-top: 10%;
}

.podcastLogo {
  width: 100px;
  height: 100px;
}