.loginH2 {
    text-align: center;
}

#loginForm {
    margin-left: 50%;
}

.inputFields {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelBtn {
    margin-top: 5px;
    margin-left: 60%;
}

#loginBtn {
    margin-left: 10px;
}

#registerOption {
    margin-top: 40px;
    text-align: center;
}

#registerBtn {
    padding-top: 15px;
}