.upperHeader {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFFC01;
}

.lowerHeader {
  /* flex box layout */
  display: flex;
  width: 100%;
  background-color: black;
  margin-bottom: 20px;
}

.nav a {
  text-decoration: none;
}

.header-title {
  font-size: 42px;
  font-weight: 700;
  color: black;
  padding-left: 10px;
  padding-top: 15px;
  margin: 0;
}

.navLink {
  display: inline-block;
  width: 100px;
  color: #FFFC01;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #5c5b15;
}

.logo {
  width: 75px;
  height: 75px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.headerLink {
  padding-right: 10px;
}

.lowerRightHeader {
  position: fixed;
  right: 0;
}